Repository aws/serverless-application-model, pull requests merged in 2018-05, with the labels that each got.

#411 doc: fix preTrafficHook link at lambda_safe_deployment
  docs/safe_lambda_deployments.rst
Labels: stage/in-review, type/documentation

#379 Add SSE to SimpleTable
  docs/cloudformation_compatibility.rst
  docs/globals.rst
  samtranslator/model/dynamodb.py
  samtranslator/model/sam_resources.py
  samtranslator/plugins/globals/globals.py
  samtranslator/plugins/globals/globals_plugin.py
  samtranslator/validator/sam_schema/schema.json
  tests/translator/input/globals_for_simpletable.yaml
  tests/translator/input/simple_table_ref_parameter_intrinsic.yaml
  tests/translator/input/simpletable_with_sse.yaml
  tests/translator/output/aws-cn/globals_for_simpletable.json
  tests/translator/output/aws-cn/simple_table_ref_parameter_intrinsic.json
  tests/translator/output/aws-cn/simpletable_with_sse.json
  tests/translator/output/aws-us-gov/globals_for_simpletable.json
  tests/translator/output/aws-us-gov/simple_table_ref_parameter_intrinsic.json
  tests/translator/output/aws-us-gov/simpletable_with_sse.json
  tests/translator/output/error_globals_unsupported_type.json
  tests/translator/output/globals_for_simpletable.json
  tests/translator/output/simple_table_ref_parameter_intrinsic.json
  tests/translator/output/simpletable_with_sse.json
  tests/translator/test_translator.py
  tests/translator/validator/test_validator.py
  versions/2016-10-31.md
Labels: stage/accepted

#397 Add FirehoseWritePolicy and FirehoseCrudPolicy
  docs/policy_templates_data/policy_templates.json
  samtranslator/policy_templates_data/policy_templates.json
Labels: area/policy-templates

#408 feat(policy-template): add mobile analytics targeting policy templates
  docs/policy_templates_data/policy_templates.json
  samtranslator/policy_templates_data/policy_templates.json
  tests/translator/input/all_policy_templates.yaml
  tests/translator/output/all_policy_templates.json
  tests/translator/output/aws-cn/all_policy_templates.json
  tests/translator/output/aws-us-gov/all_policy_templates.json
Labels: area/policy-templates

#409 doc(policy-template): fix RekognitionLabelsPolicy description
  samtranslator/policy_templates_data/policy_templates.json
Labels: area/policy-templates, type/documentation

#370 Update DESIGN.md to include an Overview and entry point for SAM
  DESIGN.md
Labels: type/documentation

#415 docs(example): improve microservice-http-endpoint-python3 example
  examples/apps/microservice-http-endpoint-python3/index.js
  examples/apps/microservice-http-endpoint-python3/lambda_function.py
  examples/apps/microservice-http-endpoint-python3/template.yaml
  examples/apps/microservice-http-endpoint-python3/test-output.log
  examples/apps/microservice-http-endpoint-python3/test-payload.json
  examples/apps/microservice-http-endpoint-python3/test.sh
Labels: area/examples

#444 feat(implicit-api): add support for ApiKeyRequired
  samtranslator/plugins/api/implicit_api_plugin.py
  samtranslator/swagger/swagger.py
  tests/swagger/test_swagger.py
  tests/translator/input/function_with_event_api.yaml
  tests/translator/input/function_with_event_api_keyRequired.yaml
  tests/translator/output/aws-cn/function_with_event_api.json
  tests/translator/output/aws-cn/function_with_event_api_keyRequired.json
  tests/translator/output/aws-us-gov/function_with_event_api.json
  tests/translator/output/aws-us-gov/function_with_event_api_keyRequired.json
  tests/translator/output/function_with_event_api.json
  tests/translator/output/function_with_event_api_keyRequired.json
  tests/translator/test_translator.py
  versions/2016-10-31.md
Labels: area/event-source, type/feature
