Repository aws/serverless-application-model, pull requests merged in 2018-10, with the labels that each got.

#556 add EKSDescribePolicy - Gives permission to describe or list Amazon EKS clusters
  samtranslator/policy_templates_data/policy_templates.json
  tests/translator/input/all_policy_templates.yaml
  tests/translator/output/all_policy_templates.json
  tests/translator/output/aws-cn/all_policy_templates.json
  tests/translator/output/aws-us-gov/all_policy_templates.json
Labels: stage/in-review

#426 Added two templates to policy templates. Both are read only API calls…
  samtranslator/policy_templates_data/policy_templates.json
  tests/translator/input/all_policy_templates.yaml
  tests/translator/output/all_policy_templates.json
  tests/translator/output/aws-cn/all_policy_templates.json
  tests/translator/output/aws-us-gov/all_policy_templates.json
Labels: area/policy-templates

#615 Add DynamoDBReconfigurePolicy
  samtranslator/policy_templates_data/policy_templates.json
  tests/translator/input/all_policy_templates.yaml
  tests/translator/output/all_policy_templates.json
  tests/translator/output/aws-cn/all_policy_templates.json
  tests/translator/output/aws-us-gov/all_policy_templates.json
Labels: area/policy-templates, stage/in-review
